* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #e2e2e2; /*grey*/
}

.main-wrapper {
  /* height: 100%; */
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
}
/*Main bar styles*/

.main-bar {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 10px 0;
  justify-content: space-around;
}

.main-bar a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  /* margin-left: 104px; */
  font-size: 25px;
}

button {
  height: 35px;
  font-size: 1rem;
  background-color: #e00000; /*red*/
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:focus {
  outline: none;
  background-color: black;
}
/*Styling for header*/

h1 {
  font-size: 55px;
}

#eye {
  height: 30px;
  width: 30px;
  position: relative;
  bottom: -7px;
  left: 1px;
}

h3 {
  text-transform: uppercase;
}


h1, h3, a {
  color: #e00000; /*red*/
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

.mainimg {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.mainimg img {
  margin: 25px;
}

movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



movie-list button {
  /* display: flex;
  justify-content: space-between;   */
  /* text-align: center;
  margin: auto;  */
  align-items: flex-end;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-self: center; */
  height: auto;
  min-width: 200px;
  width: 325px;
  /* border: 1px solid black; */
  margin: 12px;
  padding: 5px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(204,204,204,1);
  background-color: #f2f2f2;
  border-radius: 5px;
}

.poster {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  /* width: 185px; */
  margin: 0;
}

.listItem img {
  width: 72%;
  /* 185px; */
  margin: 0 auto;
}

.buttonholder {
  display: flex;
  flex-direction: column;
}

input {
  /* border: 1px solid black; */
  border: none;
  border-bottom: 1px solid black;
  /* border-radius: 5px; */
  height: 35px;
  width: 290px;
  font-size: 1rem;
  padding: 0 7px;
}

input:focus {
  outline: 1px dotted grey;
}

watchlist-page a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.watchListItems {
  display: flex;
  justify-content: center;
}

#userid {
  color: black;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  margin: 2px;
}

.popup {
  height: 100%;
  width: 100vw;
  margin: 0 auto;
  background-color: rgba(153, 153, 153, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #e2e2e2;
  border-radius: 5px;
  width: 60%;
  padding: 7px;
  text-align: left;

  display: flex;
  flex-direction: column;
}

.popup h3 {
  margin: 5px auto;
  /* font-size: .9em;
  color: black; */
}

h5 {
  /* font-size: 1rem; */
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  /* margin: 5px auto; */
  font-size: .9em;
  color: black;

  /* color: #e00000; red */
  font-family: 'Josefin Sans', sans-serif;
}

.popup p {
  margin-top: 0;
  /* margin-bottom: 4px; */
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.popup button {
  margin: 5px auto;
}
